.container {
  width: 620px;
  color: #000;
}

.buttonAndDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.buttonAndDescription button {
  border: 1px solid rgb(126, 126, 126);
}

.buttonAndDescription h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.table {
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
}

.containerItem{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.buttonAndStatus{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.concludeOrder{
  margin-top: 1.5rem;
  background-color: rgb(163, 248, 188);  
  border:0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: #000;
  font-weight: bold;
}

.statusOrder{
  font-size: .8rem;
}

@media screen and (max-width: 700px) {
    .container{
      width: 430px;
    }
}

@media screen and (max-width: 550px) {
    .container{
      width: 330px;
    }
}