.container{
 width: 500px;
}

.details{
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.table{
  font-size: 1.1rem;
}

.containerItem{
  display: flex;
  flex-direction: column;
  margin: .8rem 0;
}

.containerItem strong{
  color: var(--red)
}

.amount{
  font-weight: bold;
}

.description{
  margin-top: .2rem;
  word-break: break-all;
}

.buttonConclude{
  display: flex;
  justify-content: flex-end;
}

.conclude{
  background-color: transparent;
  border: 0;
  background: #B6D048;
  color: var(--white);
  width: 8rem;
  height: 2.5rem;
  border-radius: .3rem;
  transition: filter 300ms;
  font-weight: bold;
}

.conclude:hover{
  filter: brightness(.95);
}

@media screen and (max-width: 600px){
  .container{
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
}