.content {
  margin-left: 300px;
  padding: 1px 16px;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
}

.category {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 2rem 0 2rem 0;
}

.category form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.creationCategory {
  display: flex;
  justify-content: flex-end;
}

.table  {
  margin: 0;
  padding: 0;
  width: 100%;
  border-spacing: 0 0.5rem;
  margin-top: 1rem;
  table-layout: fixed;
}

.table caption {
  font-size: 1.5rem;
  margin: .5rem 0 .75rem;
}

.table tr {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  padding: .35rem;
}

.table th, .table td {
  padding: .62rem;
  text-align: center;
  background-color:#fff;
}

.table th {
  font-size: .85rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.table td .actionUpdate{
  border: 0;
  padding: 5px;
  align-items: center;
  display: inline-block;
  background-color: #FEC447;
  margin-right: 5px;
  border-radius: 3px;
}

.table td .actionDelete{
  border: 0;
  padding: 5px;
  align-items: center;
  display: inline-block;
  background-color: var(--red);
  border-radius: 3px;
}

.table td .actionUpdate svg,
.table td .actionDelete svg {
  vertical-align: middle;
}

.description{
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .content {
   margin-left: 0;
  }
}