.header{
  margin: 0;
  padding: 0;
  width: 300px;
  background-image: linear-gradient(#B80606, #D13330);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.header div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header div img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 90px;
  height: 90px;
  text-align: center;
  object-fit: cover;
}

.header a {
  display: block;
  color: #FFF;
  padding: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease .400ms;
}

.header a svg{
  margin-right: .5rem;
}

.header a:hover{
  background-color: #121212;
  color: #FFF;
}

.header .button {
  cursor: pointer;
}

.content {
  margin-left: 300px;
  padding: 1px 16px;
}

@media screen and (max-width: 768px) {
  .header{
    width: 100%;
    height: auto;
    position: relative;
  }

  .header a {
    float: left;
  }

  .header div{
    display: none
  }
}
