.container {
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto;
  padding: 0 2rem;
}

.title {
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.containerItem{
  border: 1px solid #dcdcdc;
  background: var(--white);
  height: 280px;
  margin: 1rem .8rem;
  border-radius: .3rem;
  transition: border 300ms;
}

.containerItem:hover{
  border: 1px solid #bbb;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item img{
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 160px;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  object-fit: cover;
  border-bottom: 1px solid #dcdcdc;
  transition: border-bottom 300ms;
}

.item img:hover{
  border-bottom: 1px solid #bbb;
}

.name{
  font-size: 1.3rem;
  margin-top: .8rem;
  word-break: break-all;
  line-height: 2.5rem;
}

.price{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--red);
}

@media screen and (max-width: 768px){
  .container{
    grid-template-columns: 1fr;
  }
}